@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.cart-screen {
  background-color: #091011;
  color: #ffffff;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  position: relative;
  box-shadow: 0 1px 0 rgba(30, 30, 30, 1);
}

.back-button {
  position: absolute;
  left: 20px;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

.header-title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-content {
  flex-grow: 1;
  padding: 20px 20px 0 20px;
  padding-bottom: 80px;
}

.cart-item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  background-color: #0f1c22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out,
    background-color 0.3s ease-out;
  box-shadow: none;
}

.cart-item:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
  background-color: #152933;
}

.item-hover-active {
  background-color: rgba(255, 0, 0, 0.15) !important;
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.item-details {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  border-radius: 15px;
}

.trash-icon {
  font-size: 20px;
  color: #ff4d4d;
  cursor: pointer;
  margin-left: 15px;
  padding: 0;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 0 transparent;
  display: inline-block;
  transition: border-bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.trash-icon:hover {
  border-bottom: 2px solid #ff1a1a;
  box-shadow: 0 3px 5px 0 rgba(255, 0, 0, 0.6);
  color: #fff;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0f1c22;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 10px #070d0f;
  z-index: 10;
}

.total-text {
  font-size: 16px;
  font-weight: 500;
}

.checkout-button {
  background: #d38641;
  color: #ffffff;
  padding: 15px 30px;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: lowercase;
  transition: background-color 0.2s;
  font-family: "inter" Medium;
}
h2 {
  font-family: "arial";
}
