:host {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  min-height: 100vh;
  background-color: #091011;
  color: #e0e0e0;
  padding: 30px;
  margin: 0;
}

h2 {
  color: #ffffff;
  border-bottom: 3px solid #333;
  padding-bottom: 12px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 2em;
  font-family: "arial";
}

button {
  background-color: #c6ad84;
  color: #000000;
  border: 1px solid #333;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0 20px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #d4be9a;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

button:active {
  background-color: #3c3c3c;
  transform: translateY(0);
  box-shadow: none;
}

div p {
  padding: 10px 0;
  font-weight: 500;
  font-size: 1.1em;
}

p:first-child {
  color: #90caf9;
  font-style: italic;
}

.error-message {
  color: #ff5252 !important;
  background-color: #331111;
  border: 1px solid #ff5252;
  padding: 12px;
  border-radius: 6px;
  margin-top: 15px;
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 30px !important;
  background-color: #0f1c22;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

thead th {
  background-color: #101f27;
  color: #ffffff;
  padding: 18px 15px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 3px solid #c6ad84;
}

tbody tr {
  background-color: #0f1c22;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 8px;
}

tbody tr:hover {
  background-color: #152831;
  transform: scale(1.005);
}

tbody td {
  padding: 18px 15px;
  vertical-align: middle;
  border-top: 1px solid #333;
}

ul li {
  padding: 3px 0;
  font-size: 0.95em;
  color: #b0b0b0;
  line-height: 1.5;
}

tbody tr td:first-child {
  font-weight: 700;
  color: #80cbc4;
  font-size: 1.05em;
}

tbody tr td:last-child {
  font-weight: 700;
  color: #c6ad84;
  font-size: 1.05em;
}

.status-CREATED {
  color: #bdbdbd;
  font-weight: 700;
}

.status-PREPARING {
  color: #f44336;
  font-weight: 700;
}

.status-READY_FOR_DELIVERY {
  color: #03a9f4;
  font-weight: 700;
}

.status-EN_ROUTE {
  color: #ffc107;
}

.status-DELIVERED {
  color: #4caf50;
  font-weight: 700;
}
